@{
  Layout = "_Layout";
}

<h1>Vendor And Order Tracker: <span class="titleColor">Add a Vendor</span></h1>

<br><br>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor Name</label>
  <input id="vendorName" name="vendorName" type="text">&nbsp;&nbsp;&nbsp;&nbsp;
  <label for="vendorDescription">Vendor Description</label>
  <input id="vendorDescription" name="vendorDescription" type="text"><br><br>>
  <button type="submit">Add</button>
</form>

<br>
<br>
<p><a href="/">Back to Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/vendors">Back to Vendors.</a></p>