@{
  Layout = "_Layout";
}
<html>
  <body>
    <h1>Vendor And Order Tracker: <span class="titleColor">Welcome!</span></h1><br><br>
    <h3><a class="vendor" href='/vendors/new'>Add a new Vendor</a></h3>
    <h3><a class="vendor" href='/vendors'>See list of Vendors</a></h3>
  </body>
</html>